<form class="per-form" #personForm="ngForm" (ngSubmit)="onSubmit(personForm)">
  <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="personService.selectedPerson.ID">
<h5 style="text-align: left">Add/ Update Record</h5>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="FirstName">First Name</label>
      <input class="form-control" name="FirstName" #FirstName="ngModel" [(ngModel)]="personService.selectedPerson.FirstName"
         required>
      <div class="validation-error" *ngIf="FirstName.invalid && FirstName.touched">This Field is Required.</div>
    </div>

    <div class="form-group col-md-6">
        <label for="LastName">Last Name</label>
      <input class="form-control" name="LastName" #LastName="ngModel" [(ngModel)]="personService.selectedPerson.LastName" 
        required>
      <div class="validation-error" *ngIf="LastName.invalid && LastName.touched">This Field is Required.</div>
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
      <label for="Type">Category</label>
      <select class="form-control" name="Type" #Type="ngModel" [(ngModel)]="personService.selectedPerson.Type" required>
          <option value="Supplier" selected>Supplier</option>
          <option value="Customer">Customer</option>
      </select>


    
    
  </div>
  
    <div class="form-group col-md-6">
        <label for="Birthday">Birthday</label>
      <input class="form-control" name="Birthday" #Birthday="ngModel" type="date" [(ngModel)]="personService.selectedPerson.Birthday">

    </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-6">
        <label for="Email">Email</label>
      <input class="form-control"  name="Email"  #Email="ngModel" [(ngModel)]="personService.selectedPerson.Email" email required>
      <div class="validation-error" *ngIf="Email.errors?.email">Email ID is not valid</div>
      <div class="validation-error" *ngIf="Email.invalid && Email.touched">This Field is Required.</div>
    </div>
    
    <div class="form-group col-md-6">
        <label for="Telephone">Telephone</label>
      <input class="form-control" name="Telephone" #Telephone="ngModel" placeholder="123-456-7890" type="tel"
      pattern="[0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{4}" [(ngModel)]="personService.selectedPerson.Telephone">
      <div class="validation-error" *ngIf="Telephone.errors?.pattern">Enter digits in following pattern 00-000-000-0000</div>

    </div>
  </div>
  <div class="form-row">
   
      <div class="form-group col-md-8">
        <button [disabled]="!personForm.valid" type="submit" class="btn btn-lg btn-block btn-info">
          <i class="fa fa-floppy-o"></i> Submit</button>
      </div>
      <div class="form-group col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(personForm)">
          <i class="fa fa-repeat"></i> Reset</button>
      </div>
    
  </div>
</form>